#middle
  %h3 Contact Us
  %p
    Email <em>the Rubyist</em> Team
    %hr{ :style => "width: 500px;" }
#email-list
  %dl
    %dt Submissions
    %dd= email_link "write@therubyist.com"
    %dt Advertising
    %dd= email_link "ads@therubyist.com"
    %dt General Inquiries
    %dd= email_link "editor@therubyist.com"