#middle
  .top
    %h3 Current Issue
    %p= img("current_issue.jpeg")
    %p
      Hampton Catlin, Rein Henrichs, and friends in the first issue of
      %em
        the Rubyist.
    .sub
      Get more information (TOC, shipping options, etc.) at 
      <a href="http://magcloud.com/browse/Issue/2918">the purchasing site</a>.
  %hr{ :style => "width: 500px;" }/

#q-and-a
  %div
    %h1
      What is <b>the Rubyist</b>?
    %div
      %p
        <em>The Rubyist</em> is a technical magazine focused on Ruby, Rails, Merb, and anything else that surrounds 
        the programming language that we all know and love.
      %p 
        Copies of the Rubyist are available in <a href="http://www.lulu.com/content/3396321">PDF</a> form for 
        <b>$3</b> and <a href="http://magcloud.com/browse/Magazine/2284">print</a> form for <b>$8</b>.
  %div
    %h1 How often do you publish?
    %div
      %p
        Our publication schedule is still being determined.  In the future we may go monthly or quarterly; 
        we're very early in our development so we're still trying to find our groove.
      %p
        Back issues are always available from <a href="http://magcloud.com/browse/Issue/2918">the purchasing site</a>.
  %div
    %h1
      How can I get involved?
    %div
      %p
        We are actively <a href="cfp.html">looking for authors</a>.  Please send any article proposals (or 
        finished articles) to <a href="mailto:write@therubyist.com">write@therubyist.com</a>. Please note 
        that we require a 30-day exclusive on the article, at which point it will be published on our website 
        (under the Creative Commons License at your request).
      %p
        We are also <a href="advertise.html">looking for advertisers</a>. To inquire about rates, placement, 
        and other prospectus-related information, please e-mail <a href="mailto:ads@therubyist.com">
        ads@therubyist.com</a>.