#middle
  %h3 Current Issue
  %p
    <a href="http://www.lulu.com/content/6438917">
    = img("current_issue.jpeg")
    </a>
  %p
    44 pages. Obie Fernandez, Yehuda Katz, DHH, and friends in the second issue of
    %em
      the Rubyist.
  %p
    In print <a href="http://magcloud.com/browse/Issue/9140">for $9</a> or get <a href="http://www.lulu.com/content/6438917">the free PDF</a>.
  %p
    Get more information (TOC, shipping options, etc.) at 
    <a href="http://magcloud.com/browse/Issue/9140">the purchasing site</a>.
%hr{ :style => "width: 500px;" }/

#q-and-a
  %div
    %h1
      What is <b>the Rubyist</b>?
    %div
      %p
        <em>The Rubyist</em> is a technical magazine focused on Ruby, Rails, Merb, and anything else that surrounds 
        the programming language that we all know and love.
      %p 
        Copies of the Rubyist are available in <a href="http://www.lulu.com/content/6438917">PDF</a> form for 
        <b>free</b> and <a href="http://magcloud.com/browse/Magazine/2284">print</a> form for <b>$9</b>.
  %div
    %h1 How often do you publish?
    %div
      %p
        Our publication schedule is still being determined.  We're currently aiming for a quarterly schedule.
      %p
        Back issues are always available from <a href="http://magcloud.com/browse/Issue/2918">the purchasing site</a>.
  %div
    %h1
      How can I get involved?
    %div
      %p
        We are actively <a href="cfp.html">looking for authors</a>.  Please send any article proposals (or 
        finished articles) to <a href="mailto:write@therubyist.com">write@therubyist.com</a>. Please note 
        that we require a 30-day exclusive on the article, at which point it will be published on our website 
        (under the Creative Commons License at your request).
      %p
        We are also <a href="advertise.html">looking for advertisers</a>. To inquire about rates, placement, 
        and other prospectus-related information, please e-mail <a href="mailto:ads@therubyist.com">
        ads@therubyist.com</a>.